@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.base');
    color: theme('colors.primary');
    font-family: theme('fontFamily.sans');
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
}