.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-base); /* Base color */
}

.navbar-logo .logo-img {
  height: 35px;
}

.navbar-links {
  display: flex;
  gap: 2.5rem;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem; /* 16px */
  color: var(--color-primary); /* Primary color */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-accent); /* Accent color */
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-container {
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo {
    /* margin-bottom: 1rem; */ /* No longer needed for row layout */
  }
  
  .navbar-links {
    gap: 1.5rem;
  }
}
