@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: #FCF7E9;
  --color-primary: #000000;
  --color-accent: #FF5C00;
}

@layer base {
  body {
    background-color: theme('colors.base');
    color: theme('colors.primary');
    font-family: theme('fontFamily.sans');
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
}
